<div class="container-fluid">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h3 class="mt-4">ナニキル？って</h2>
    </div>
  </div>
  <div class="row py-5 mx-auto mt-4 shadow-lg w-50 d-flex align-items-center justify-content-center">
    <div class="col-6">
      <P>ナニキル？とは<Br>
        気温別、地域別でコーディネートを検索したり<Br>
        投稿できるコミュニティサイトです</P>
      <p>毎日のコーディネートや旅行の際にも<Br>
        お役立てください</p>
    </div>
  </div>
</div>