<div class="container-fluid">
  <div class="row py-5 mx-auto mt-4 shadow-lg w-50 d-flex align-items-center justify-content-center">
    <div class="col-6">
      <h2>ナニキル？って</h2>
      <P>ナニキル？とは<Br>
        気温別、地域別でコーディネートを検索したり<Br>
        投稿できるコミュニティサイトです</P>
      <p>毎日のコーディネートや旅行の際にも<Br>
        お役立てください</p>
    </div>
  </div>
</div>