<div class="container-fluid">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1 class="d-flex justify-content-center mt-4">ナニキル？</h1>
    </div>
  </div>
  <div class="row py-5 mx-auto mt-4 pr-4 shadow-lg w-50 d-flex align-items-center justify-content-center">
    <div class="btn-wrapper col-md-4 mx-2">
      <li class="btn btn-outline-warning btn-sm btn-block mb-3 sign_in">
          <%= link_to "ゲストログイン", user_guest_sign_in_path ,method: :post, class: 'text-dark' %>
      </li>
      <li class="btn btn-outline-warning btn-sm btn-block mb-3 sign_in">
          <%= link_to "新規登録", new_user_registration_path, class: 'text-dark' %>
      </li>
      <li class="btn btn-outline-warning btn-sm btn-block mb-3 sign_in">
          <%= link_to "ログイン", new_user_session_path, class: 'text-dark' %>
      </li>
      <li class="btn btn-outline-warning btn-sm btn-block mb-3 sign_in">
          <%= link_to "管理者ログイン", new_admin_session_path, class: 'text-dark' %>
      </li>
    </div>
  </div>
</div>