<h1>カテゴリー（気温）編集</h1>

<%= form_with model: @temperature, url: admin_temperatures_path do |f| %>
<h4>気温名</h4>
  <%= f.text_field :temperature_name %>
  
  <%= f.submit '更新' %>
  <%= link_to "BACK", admin_temperatures_path %>
<% end %>
