
<div class="container-fluid">
  <div class="row py-5 mx-auto mt-4 shadow-lg w-50 d-flex align-items-center justify-content-center">
    <div class="col-10">
      <h2>いいね一覧</h2>
      <div class="row d-flex align-items-center justify-content-start">
        <% @favorite_posts.each do |post| %>
          <div class="col-md-4 mt-2">
            <%= link_to image_tag(post.get_image(300,300), class:"w-100"), post_path(post.id) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
